body {
    display:flex;
}

#container {
    display:flex;
    width:960px;
    border: 4px solid rgb(199, 10, 10);
    background-color:red;
    padding:10px;
}

#innerContainer{
    display:flex;
    flex:1;
    flex-wrap:wrap;
    border:4px solid rgb(177, 6, 6);
}

.square {
    background-color:lightgrey;
    box-sizing:border-box;
}