body {
    display:flex;
    flex-direction:column;
    justify-content: center;
    gap:1em;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

button {
    background-color: aquamarine;
    border-radius:5px;
    border:outset lightskyblue 1px;
    font-family:'Calibri', Helvetica, Arial, sans-serif;
    font-weight:bold;
    color:grey;
    padding:12px 18px;
    margin:auto;
}

#btnsContainer {
    display:flex;
}

#section {
    display:flex;
    justify-content:center;
}

#container {
    display:flex;
    max-width:855px;
    max-height:855px;
    border: 4px solid rgb(199, 10, 10);
    background-color:red;
    padding:10px;
    flex:1;
}

#innerContainer{
    display:flex;
    flex:1;
    flex-wrap:wrap;
    border:4px solid rgb(177, 6, 6);
}

.square {
    background-color:lightgrey;
    box-sizing:border-box;
}